trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- script: gradlew assemple
- task: PublishBuildArtifacts@1
  displayName: 'Publish artifacts'
  inputs:
    pathtoPublish: build/libs/
    artifactName: lib